/* Css for Card */
.Card-Section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 9rem 0px 15.5rem 0px;
}
.Card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-heading {
    margin: 1.5rem 0px 0px 0px;
    color: var(--Neutral-VeryDarkBlue);
}
.Card-Items {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 6.5rem 0px 7rem 0px;
}
.lastCard {
  display: none;
}
.card-paragraph{
    text-align: var(--text-align);
}
.Card img {
    height: 7.5rem;
    width: 7.5rem;
}